{% extends 'base.html' %}

{% block title %}{{ dish.name }}{% endblock %}

{% block content %}

<div class="max-w-6xl mx-auto bg-gray-900 rounded-lg overflow-hidden flex items-center p-10">
    <div class="w-1/2 flex justify-center">
        <img src="{{ dish.image }}" class="w-full h-auto object-cover rounded-lg">
    </div>
    <div class="p-10 flex-1">
        <h1 class="text-4xl font-bold">{{ dish.name }}</h1>
        <p class="text-gray-400 mt-3 text-xl">{{ dish.description }}</p>
        <p class="text-2xl font-bold text-red-400 mt-5">Цена: {{ dish.price }} грн</p>

        <h3 class="text-2xl font-semibold mt-5">Ингредиенты:</h3>
        <ul class="list-disc list-inside text-gray-300 mt-3 text-lg">
            {% for ingredient in dish.ingredients %}
            <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>

        <div class="mt-8 flex gap-5">
            <a href="#" class="bg-green-600 text-white px-6 py-3 rounded-lg hover:bg-green-700 transition text-lg">
                Добавить в корзину
            </a>
            <a href="{{ url_for('home') }}"
               class="bg-red-700 text-white px-6 py-3 rounded-lg hover:bg-gray-600 transition text-lg">
                Назад к меню
            </a>
        </div>
    </div>
</div>
{% endblock %}
